 <!-- The sidenav element -->
  <!-- <div *ngIf="account"> -->
    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
      <mat-nav-list>
        <a mat-list-item href="/dashboard">Dashboard</a>
        <!-- Entities -->
        <!-- <mat-list-item *ngFor="let entity of entities">
          <a matLine href="...">{{ link }}</a>
          <button mat-icon-button (click)="showInfo(link)">
             <mat-icon>info</mat-icon>
          </button>
       </mat-list-item> -->
      </mat-nav-list>

    </mat-sidenav>
  <!-- </div> -->